<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :givenName %>
    <%= form.text_field :givenName, id: :user_givenName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :user_lastName %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :user_user %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :dateCreation %>
    <%= form.date_select :dateCreation, id: :user_dateCreation %>
  </div>

  <div class="field">
    <%= form.label :dateUpdate %>
    <%= form.date_select :dateUpdate, id: :user_dateUpdate %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id, id: :user_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
